/* Google Fonts Import */
@import url('https://fonts.googleapis.com/css2?family=David+Libre:wght@400;500;700&family=Great+Vibes&family=Sorts+Mill+Goudy:ital@0;1&display=swap');

/* Asterisk wildcard selector to override default styles added by the browser */
* {
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}


/* Genaral Styles */
:root {
    --pink: #dcbdad;
    --white: #fffafa;
    --grey: #4a4a4a;

    /* Fonts */
    --logotyp: Great Vibes;
    --title: Sorts Mill Goudy;
    --breadtext: David Libre;
}

.section {
    display: flex;
    flex-direction: column;
}

.section-title {
    font-family: var(--title);
    font-size: 42px;
    padding-top: 15px;
    color: #000000;
    text-align: center;
    font-weight: bolder;
}

.section p {
    font-family: var(--breadtext);
    color: #000000;
}

.center {
    margin: auto;
    width: 60%;
    border: 3px solid #000000;
    padding: 10px;
    background-color: #fef5e9;
    text-align: center;
}

.brod-text {
    font-size: 23px;
    font-weight: 100;
}

h4 {
    font-family: var(--title);
    font-size: 100%;
    padding-top: 15px;
    padding-left: 6px;
    color: black;
}

.startsida-monster-bakgrund {

    --s: 35px; /* control the size */
    --t: 3px;  /* control the thickness */
    --c1: #DDC68B;
    --c2: #fef5e9;
      
    --_c: #0000 calc(98% - var(--t)),var(--c1) calc(100% - var(--t)) 98%,#0000;
    --_s: calc(2*var(--s)) calc(5*var(--s)/2);
    --_r0: /var(--_s) radial-gradient(calc(var(--s)/2) at 0    20%,var(--_c));
    --_r1: /var(--_s) radial-gradient(calc(var(--s)/2) at 100% 20%,var(--_c));
    background:
        0 0 var(--_r0),calc(-1*var(--s)) calc(5*var(--s)/4) var(--_r0),
        var(--s) 0 var(--_r1),0 calc(5*var(--s)/4) var(--_r1),
        conic-gradient(at var(--t) calc(20% + 2*var(--t)),#0000 75%,var(--c1) 0)
        calc(var(--t)/-2) calc(var(--s) - var(--t))/var(--s) calc(5*var(--s)/4),
        repeating-conic-gradient(var(--c2) 0 25%,#0000 0 50%)
        var(--s) calc(var(--s)/-8)/var(--_s),
        conic-gradient(from 90deg at var(--t) var(--t),var(--c2) 25%,var(--c1) 0) 
        calc((var(--s) - var(--t))/2) calc((var(--s) - var(--t))/2)/var(--s) calc(5*var(--s)/4);
            
}

/* Header */
header { 
    background: white;
    /* position: sticky; */
    top: 0;
    left: 0;
    width: 100%;
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 15px 20px;
    z-index: 10;
}

.button {
    display: flex;
    justify-content: center;
}


/* Header for gallery.html */
.only-logo {
    display: flex;
    justify-content: center;
}


/* Ski more logo */
header .logo {
    position: relative;
    font-size: 1.5em;
    /* color: var(--white); */
    text-decoration: none;
    font-weight: 600;
    font-family: var(--logotyp);
    font-size: 300%;
}
.sm-logo {
    color: var(--grey);
}

.logo {
    color: #000000;
}

.logo:hover {
    color: #AA8C64;
}


/* Navigation */
header .navigation {
    display: flex;
    justify-content: center;
    flex-wrap: wrap;
    margin: 10px 0;
    font-family: var(--title);
}

header {
    color: var(--white);
}

header .navigation li {
    list-style: none;
    margin: 0 10px;
}

header .navigation li a {
    text-decoration: none;
    font-weight: 500;
    letter-spacing: 1px;
}

.navigation li a {
    color: #000000;
}

header .navigation li a:hover {
    color: #AA8C64;
}

#about, #destinations, #contact {
    scroll-margin-top: 134px;
}


/* First Footer */
.first-footer {
    background-color: #300E14;
    padding-top: 40px;
    padding-bottom: 40px;
}

/* Second Footer */
.second-footer {
    background-color: #3E191E;
    padding-top: 100px;
    padding-bottom: 100px;
}

/* Third Footer */
.third-footer {
    background-color: #300E14;
    padding-top: 50px;
    padding-bottom: 50px;
}

.footer {
    display: flex;
    gap: 5em;
    padding: 0 20%;
    list-style: none;
    justify-content: center;
}

.footer li a {
    color: #AA8C64;
    font-size: 150%;
}

.footer li a:hover {
    color: #ffffff;
}

#center {
    margin: auto;
    width: 60%;
    padding: 10px;
    color: #AA8C64;
    text-align: center;
    font-family: var(--logotyp);
    font-size: 300%;
}


/* Main content index.html*/
/* Hero image */
#two-skiers {
    min-height: 700px;
    width: 100%;
    background: url("../images/hero_image.jpg") no-repeat center center/cover;
}


/* Bar between hero image and first section #4A3C39 */
.bar {
    background: #d6b768;
    min-height: 15px;
    width: 100%;
}

/* Images for the sections */
#ski-lifts {
    background: url("../images/IMG_0082.jpg") no-repeat center center/cover;
    min-height: 100%;
}

#resorts {
    background: url("../images/IMG_9687.jpg") no-repeat center center/cover;
    min-height: 100%;
    order: 1;
}

#pisted-slopes {
    background: url("../images/IMG_9745.jpg") no-repeat center center/cover;
    min-height: 100%;
}

/* Button to get to the gallery */
#button-gallery {
    padding: 15px 20px;
    margin: 30px 0px;
    font-family: var(--title);
    font-size: 20px;
    color: #DDC68B;
    background: #37000D;
    border: none;
    border-radius: 1em;
}

#button-gallery:hover {
    background: #000000;
}


/* Contact form */
#contact-form {
    font-family: var(--breadtext);
    color: var(--grey);
    font-size: 20px;
    position: relative;
    padding: 10px 10px;
}

#contact-form input {
    width: 100%;
    height: 40px;
}

#button-submit {
    width: 100%;
    padding: 10px 0px;
    margin: 15px 0px;
    font-family: var(--title);
    font-size: 100%;
    color: var(--white);
    background: var(--pink);
    border: none;
    border-radius: 1em;
}

#button-submit:hover {
    background: var(--grey);
}


/* Media queries for responsivnes */
@media (max-width: 490px) {
    header{
        padding: 10px 20px;
        flex-direction: column;
    }
}

@media (min-width: 769px) {
    .section {
        display: flex;
        flex-direction: row;
        justify-content: center;
    }


/* Images in the sections */
    #ski-lifts {
        min-width: 50%;
    }

    #resorts {
        min-width: 50%;
        order: -1;
    }

    #pisted-slopes {
        min-width: 50%;
    }

    .h3+p {
        display: flex;
        flex-direction: column;
    }


/* gallery.html */
    #gallery li {
        min-height: 200px;
    }

}    

@media (max-width: 390px) {
    #gallery-nav{
        visibility: hidden;
    }
}


/* Main content for gallery.html */

#bar-gallery {
    display: flex;
    justify-content: center;
}

#gallery {
    display: flex;
    flex-wrap: wrap;
    gap: 0.5em;
    justify-content: center;
}

#gallery li {
    height: 400px;
    position: relative;
    list-style: none;
    flex: 1 1 auto;
}

#gallery li img {
    object-fit: cover;
    width: 100%;
    height: 100%;
    vertical-align: middle;
}

.invisble {
    visibility: hidden;
    position: absolute;
}